#about .container {
    flex-direction: column;
}

.container .about-content .about-image {
    display: flex;
    justify-content: center;
}

.container .profile-picture-two {
    /* display: none; */
    width: 50%;
    align-self: center;
    border-radius: 12px;
}

.about-text {
    display: grid;
    place-items: center;
    text-align: center;
  }

.container .about-text h2{
    text-align: center;
    margin-top: 22px;
}

.container .about-text p {
    text-align: center;
    max-width: 330px;
    margin: auto;
    margin-top: 12px;
}

/* Estilos para el botón */
.about-text .download-cv-btn {
    width: auto;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87665A;
    color: #FFF;
    padding: 12px 20px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 12px;
    text-transform: uppercase;
  }
  
.about-text .download-cv-btn:hover {
    background-color: #BEA59D;
}

.about-text .download-cv-btn img {
    width: 20px;
    margin-left: 12px;
}
  

.container h3 {
    margin-top: 22px;
}

.container .skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 12px;
    width: 74%;
    border: solid 2px var(--raisin-black);
    border-radius: 12px;
    padding: 14px 8px;
    margin-top: 12px;
}

.container .skills-list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

.container .skills-list li img {
    width: 24px;
}

.container .skills-list li.centered {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }