:root {
    --anti-flash-white: #E6EEEF;
    --raisin-black: #252525;
    --beaver: #937062;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 52px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(0.25turn, #87665A, #BEA59D);
    box-shadow: 0px 1px 48px var(--beaver);
    z-index: 1;
    top: 0;
    position: relative;
}

.navbar li {
    color: var(--anti-flash-white);
    text-align: center;
    /* padding: 0px 55px; */
    text-decoration: none;
}

.navbar .icons {
    width: 24px;
    margin-right: 18px;
}

.navbar li {
    display: none; /* Oculta los elementos de la lista, excepto el último (hamburger) */
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.hamburger .icon-menu {
    display: block;
    width: 25px;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}

.hamburger .icon-close {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.hamburger.open .icon-menu {
    opacity: 0;
    display: none;
}

.hamburger.open .icon-close {
    opacity: 1;
    width: 25px;
    display: block;
    position: fixed;
}


.navbar.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--anti-flash-white);
    z-index: 100;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
}

.navbar.open li {
    display: flex;
    align-items: center;
    flex-direction: row;
    right: 0;
    margin-bottom: 32px;
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(0px);
    }
    100% {
        opacity: 1;
        transform: translateX(20px);
    }
}


.container {
    margin-top: 62px; /* Ajusta el margen superior del div sin afectar el ul */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido del div */
    align-items: center;
}

.container .grid-container {
    width: 90%;
    /* height: 60vh; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.container .grid-container > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container .profile-picture {
    width: 54%;
    border-radius: 12px;
    justify-self: center;
    align-self: center;
}

.grid-container .personal-information .welcome {
    color: var(--raisin-black);
}

.personal-information .welcome::first-line {
    color: var(--raisin-black);
    font-size: 22px;
    font-weight: 500;
}

.personal-information .welcome img {
    width: 24px;
}

.grid-container .personal-information .welcome span {
    background: #87665A;
    background: linear-gradient(to right, #87665A 0%, #BEA59D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.grid-container > .personal-information {
    align-self: center;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.grid-container .personal-information h1, .personal-information .presentation {
    text-align: center;
    margin-top: 0;
    max-width: 330px;
}

.grid-container .personal-information .presentation {
    font-size: 15px;
    max-width: 420px;
}

.grid-container .github-button {
    width: 130px;
    height: 42px;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--raisin-black);
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

#about .container {
    flex-direction: column;
}

.container .about-content .about-image {
    display: flex;
    justify-content: center;
}

.container .profile-picture-two {
    /* display: none; */
    width: 50%;
    align-self: center;
    border-radius: 12px;
}

.about-text {
    display: grid;
    place-items: center;
    text-align: center;
  }

.container .about-text h2{
    text-align: center;
    margin-top: 22px;
}

.container .about-text p {
    text-align: center;
    max-width: 330px;
    margin: auto;
    margin-top: 12px;
}

/* Estilos para el botón */
.about-text .download-cv-btn {
    width: auto;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87665A;
    color: #FFF;
    padding: 12px 20px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 12px;
    text-transform: uppercase;
  }
  
.about-text .download-cv-btn:hover {
    background-color: #BEA59D;
}

.about-text .download-cv-btn img {
    width: 20px;
    margin-left: 12px;
}
  

.container h3 {
    margin-top: 22px;
}

.container .skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 12px;
    width: 74%;
    border: solid 2px var(--raisin-black);
    border-radius: 12px;
    padding: 14px 8px;
    margin-top: 12px;
}

.container .skills-list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

.container .skills-list li img {
    width: 24px;
}

.container .skills-list li.centered {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }